.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: $bg-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright{
        margin-left: 30px;
        color: $bg-light;
    }
    .social{
        margin-right: 30px;
        a{
            color: $bg-light;
            transition: $transition;
            &:hover{color: $nav-caption;}
        }
    }
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        .copyright{
            margin: 0;
            margin-bottom: 10px;
        }
        .social{margin: 0;}
    }
}