.cards-block-wrapper{
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: $bg-dark;
    }
    .cards-block{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        .pokemon-card{
            position: relative;
            min-height: 200px;
            min-width: 200px;
            width: 18%;
            background: $bg-lightest-gradient;
            border-radius: 5px;
            padding: 20px;
            margin: 0 10px 20px 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transition: $transition;
            .id{
                position: absolute;
                top: 5%;
                left: 5%;
                font-size: 20px;
                color: $bg-darkest;
                font-weight: 700;
                font-style: italic;
            }
            .name{
                color: $bg-darkest;
            }
            .img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 100px;
                img{
                    transition: 0.2s;
                }
            }
            &:hover{
                transform: scale(1.02);
                box-shadow: 26px 26px 17px 2px rgba(2, 8, 14, 0.3);
                img{
                    transform: scale(1.4);
                } 
            }
        }
    }
}

.contact{
    .text-block{
        display: flex;
        flex-direction: column;
        .social{
            margin-top: 50px;
            align-self: center;
            a{
                color: $bg-dark;
                transition: $transition;
                &:hover{color: $text;}
            }
        }
    }
}

.pokemon-info-wrapper{
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: $bg-dark;
    }
    .name{
        text-align: center;
        color: $text;
        margin-bottom: 15px;
    }
}
.pokemon-info-block{
    display: flex;
    justify-content: center;
    .pokemon-sprites{
        width: 45%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        align-items: flex-end;
        .img{
            position: relative;
            width: 200px;
            height: 200px;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    .pokemon-info{
        width: 45%;
        color: $text;
        padding: 30px;
        h3{
            margin-bottom: 15px;
        }
        ul{
            padding-left: 20px;
            line-height: 1.6;
            &:first-of-type{margin-bottom: 30px;}
            span{margin-left: 10px;}
        }
        .stats{
            li{
                span{
                    font-weight: 700;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.pokemon-type{
    padding: 5px 10px;
    border-radius: 5px;
    color: $text;
}

@media (max-width: 995px) {
    .cards-block-wrapper{
        .cards-block{
            .pokemon-card{
                width: 45%;
            }
        }
    } 
}

@media (max-width: 800px) {
    .pokemon-info-block{
        flex-direction: column;
        .pokemon-sprites{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
            align-items: center;
        }
        .pokemon-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            ul{
                padding: 0;
                &:first-of-type{margin-bottom: 30px;}
            }
        }
    }
}

.not-found{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: $text;
}

@media (max-width: 685px) {
    .pokemon-info-block{
        font-size: 0.95rem;
    }
}

@media (max-width: 530px) {
    .cards-block-wrapper{
        .cards-block{
            justify-content: space-around;
            .pokemon-card{
                width: 90%;
            }
        }
    } 
}

@media (max-width: 500px) {
    .pokemon-info-block{
        .pokemon-sprites{
            flex-direction: column;
            .img{
                width: 150px;
                height: 150px;
            }
        }
        .pokemon-info{
            flex-direction: column;
            align-items: flex-start;
            div{
                h3{
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}