$bg-normal: #275df0;
$bg-darkest: #173791;
$bg-light: #5978ce;
$bg-dark: #1e44ae;
$bg-lightest: #bec6dd;
$bg-lightest-gradient: linear-gradient(90deg, rgb(194, 208, 250) 0%, rgb(165, 186, 250) 100%);
$nav-caption: #fff;
$text: #fff; 
$transition: 0.2s;

